<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="../js/angular1.5/angular.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="formCtrl">
    <form name="myForm" role="form" novalidate>
        <div class="form-group">
            <label for="firstName">姓名</label>
            <input type="text" class="form-control" id="firstName" ng-model="user.firstName" placeholder="请输入名称" />
        </div>
        <div class="form-group">
            <label for="add">地址</label>
            <input type="text" class="form-control" id="add" ng-model="user.add" placeholder="请输入地址" />
        </div>

        <div class="form-group">
            <label>邮箱</label>
            <input type="email" id="email" ng-model="user.email" placeholder="" required />
        </div>
        <div class="form-group">
            <label for="email2">邮箱</label>
            <input type="text" class="form-control" id="email2" ng-model="user.email" placeholder="请输入邮箱地址" required />
           <!-- <span style="color:red" ng-show="user.email.$dirty && user.email.$invalid">
                <span ng-show="user.email.$error.required">邮箱是必须的。</span>
                <span ng-show="user.email.$error.email">非法的邮箱。</span>
            </span>-->
        </div>

        <button type="submit" class="btn btn-default" ng-click="reset()">RESET</button>
    </form>
    <p>form ={{user}}</p>
</div>

<script>
    var app = angular.module('myApp',[]);
    app.controller('formCtrl',function($scope){
        $scope.master = {firstName:"",add:"",email:""};
        $scope.reset = function(){
            /*$scope.user = angular.copy($scope.master);*/
            $scope.user = {};
        };
        $scope.reset();
    });
</script>
</body>
</html>